@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');

:root {

  --fundo: #080808;
  --azulEscuro: #1a5eff;
  --azulClaro: #3d7dff;
  --prata: #d9d9d9;
  --cinzaEscuro: #2b2b2b;
  --verdePadrao: #25d366;
  --preto: #000000;
}

body {
  background: var(--preto);
  padding-left: 2%;
  padding-right: 2%;
  width: auto;

}

#grade-first {
  background-image: linear-gradient(rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0) 70%,
      rgba(0, 0, 0, 0) 80%,
      rgba(0, 0, 0, 1) 100%), url(/imgs/welding-work-with-metal-construction-busy-metal-factory.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 2%;
  min-height: 550px;
  width: 100%;
}

#grade-first-textos {

  color: var(--prata);
  font-family: 'Bebas Neue', sans-serif;
  flex-direction: column;
  gap: 0;
  padding-top: 15%;
 /* padding-left: 3%;*/
}

#grade-first-textos p {
  font-family: 'Montserrat', sans-serif;
  margin: 0%;
  line-height: 1;

}

#grade-first-textos h1 {
  font-size: 120px;
  line-height: 1;

  margin: 0%;
}

#grade-first-textos h3 {
  font-size: 60px;
  color: var(--azulEscuro);
  margin: 0%;
  line-height: 1;


}
#grade-first-botao{
  background: var(--azulEscuro);
  width: fit-content;
  margin-top: 35px;
  border: 1px solid;
  border-radius: 10px;
  height: 35px;
  
}

#grade-first-botao a {
  border: none;
  padding: 12px 12px;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  display: inline-flex;
  align-items: center;
  font-size: 12px;
  color: var(--prata);


}
#grade-first-botao img {
  height: 15px;
  width: 15px;
  padding-right: 5px;
}

#grade-second {
  border-color: var(azulEscuro);
  color: var(--prata);
  height: 500px;


  background: linear-gradient(to bottom,
      rgba(0, 0, 0, 1) 0%,
      rgba(214, 5, 5, 0) 20%,
      rgba(0, 0, 0, 0) 80%,
      rgba(0, 0, 0, 1) 100%);

}

#grade-second h3 {
  color: var(--azulEscuro);

}

#navegacao {
  justify-content: center;
  display: flex;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  width: 100%;

}


#navegacao ul {
  list-style: none;
  margin: 10px;
  display: flex;
  gap: 15px;
}

#navegacao a {
  display: block;
  color: var(--prata);
  padding: 15px 20px;
  text-decoration: none;

}

#navegacao p {

  color: var(--prata);
  font-family: 'Montserrat', sans-serif;
  margin: 10px;
  padding: 10px;
}

#navegacao ul li a:hover {
  color: var(--azulEscuro);
  border-bottom: 3px solid var(--azulClaro);
  font-weight: bold;

}

#navegacao a:active {
  color: var(--azulEscuro);

}

#navegacao a:focus {
  color: var(--azulEscuro);
  border-bottom: 3px solid var(--azulClaro);
  font-weight: bold;

}

#grade-second-textos,
#grade-third-textos,
#grade-fourth-textos {
  color: var(--prata);
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: fit-content;
  align-items: center;
  gap: 0px;

}

#grade-second,
#grade-third,
#grade-fourth {

  height: fit-content + 300px;
  margin-top: 100px;
}

#grade-second-textos h1,
#grade-third-textos h1,
#grade-fourth-textos h1 {
  font-size: 50px;
  font-family: 'Bebas Neue', sans-serif;
  line-height: 1;
  margin: 0%;

}

#grade-second-textos p,
#grade-third-textos p,
#grade-fourth-textos p {
  padding-left: 5%;
  padding-right: 5%;
  line-height: 1.1;
  font-family: 'Montserrat', sans-serif;
  text-align: center;

}

.carrossel-track {

  display: flex;
  gap: 30px;
}

.carrossel-container {
  overflow-x: scroll;
  overflow-y: hidden;
}

.carrossel-container::-webkit-scrollbar {
  height: 8px;
}

.carrossel-container::-webkit-scrollbar-track {
  background: var(--preto);
}

.carrossel-container::-webkit-scrollbar-thumb {
  background: var(--azulEscuro);
  border-radius: 8px;
}

.carrossel-item {

 
  border-radius: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#grade-fourth {


  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: var(--prata);

}

#grade-fourth-items {}

#grade-fourth-textos {}

#contatos {

  color: var(--prata);
  display: flex;
  flex-direction: column;
  padding-left: 5%;
  padding-right: 5%;


}

.contatos-links {

  height: 45px;
  border-radius: 5px;
  width: fit-content;
}

.contatos-links a {
  color: var(--azulEscuro);
  border: none;
  padding: 12px 12px;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  display: inline-flex;
  align-items: center;
  font-weight: bold;

}

.contatos-links img {
  height: 25px;
  width: 25px;
  padding-right: 5px;
}

iframe{

  
   box-shadow: 0 0 10px 1px var(--cinzaEscuro);
  border-radius: 30px;

}