@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root{

    --fundo: #080808;
    --azulEscuro: #1a5eff;
    --azulClaro: #3d7dff;
    --prata: #d9d9d9;
    --cinzaEscuro: #2b2b2b;
    --verdePadrao: #25d366;
}
body{
    background: #000000;

}

#grade-first{
background-image: linear-gradient(
      to bottom, 
      rgba(0, 0, 0, 1) 0%,    
      rgba(0, 0, 0, 0) 20%,   
      rgba(0, 0, 0, 0) 80%,     
      rgba(0, 0, 0, 1) 100%   
    ),  url(/imgs/e96c741c-d41a-45d5-897f-655460a8302d.png);

    height: 500px;
}
#grade-first-textos{

color: var(--prata);
 font-family: 'Bebas Neue', sans-serif;
  flex-direction: column;
    gap: 0; 
    padding-top: 10%;
    padding-left: 3%;
}

#grade-first-textos p{
    font-family: "Arial", sans-serif;
     margin: 0%;
         line-height: 1;

}
#grade-first-textos h1{
font-size: 100px;
    line-height: 1;

 margin: 0%;
}
#grade-first-textos h3{
font-size: 40px;
color: var(--azulEscuro);
 margin: 0%;
     line-height: 1;


}
#grade-second{
    border-color: var(azulEscuro);
    color: var(--prata);
}
#grade-second h3{
color: var(--azulEscuro);

}

#navegacao{
justify-content: center;
display:flex;
font-family: 'Bebas Neue', sans-serif;
font-size: 25px;

}
#navegacao ul{
 list-style: none;
  margin: 10px;
  padding: 10px;
  display: flex; 
;

}

#navegacao a {
  display: block;
color: var(--prata);
  padding: 15px 20px;
  text-decoration: none;
  margin-right: 50px; 
}

#navegacao ul li a:hover { 
  color: var(--azulEscuro);
  border-bottom:3px solid var(--azulClaro);
    font-weight: bold;

}
#navegacao a:active {
    color: var(--azulEscuro);

}
#navegacao a:focus {
    color: var(--azulEscuro);
    border-bottom: 3px solid var(--azulClaro);
      font-weight: bold;

}